/*
GIMME bigger notes #yolo.
 */
.css-3occg1-Presenter{
    padding: 16px;
    margin: 0;
    background-color: black;
    position: absolute;
    left: 10%;
    top: 40%;
    width: 80%;
    min-height: 20%;
    font-size: 150%;
}