/*
GIMME bigger notes #yolo.
 */
.css-3occg1-Presenter, .css-1ebprri{
    padding: 16px;
    margin: 0;
    background-color: black;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    min-height: 20%;
    font-size: 140%;
}

.css-vgof0f, .css-1ebprri {
    white-space: pre-wrap;
}

.css-1rhkgy0{
    width: 40%;
}
.css-g29dg7 {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0px;
    padding-bottom: 75%;
}


